.page_body .page_main .tab_btn {
  border-bottom: solid 2px #000;
}
.page_body .page_main .tab_input {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: solid 1px #888;
  height: 100px;
}
.page_body .page_main .tab_input div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: solid 1px #000;
  padding: 10px 20px;
  width: 600px;
}
.page_body .page_main .tab_input div input {
  border: none;
  width: 600px;
  color: #666;
  font-size: 17px;
}
.page_body .page_main .tab_input div input:focus {
  outline: none;
}
.page_body .page_main .tab_input div button {
  padding-top: 5px;
  background-color: rgba(0, 0, 0, 0);
}
.page_body .page_main .tab_menu {
  padding-bottom: 150px;
}
.page_body .page_main .tab_menu .more_click {
  display: none;
}
.page_body .page_main .tab_menu .more_click.active {
  display: flex;
}
.page_body .page_main .tab_menu > ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}
.page_body .page_main .tab_menu > ul > li {
  width: 350px;
  margin-top: 70px;
}
.page_body .page_main .tab_menu > ul > li:hover .back_img {
  transition: ease-in-out 0.4s;
  transform: scale(1.2, 1.2);
}
.page_body .page_main .tab_menu > ul > li:first-of-type .back_img {
  background-image: url(../img/menu_img1.jpeg);
}
.page_body .page_main .tab_menu > ul > li:nth-of-type(2) .back_img {
  background-image: url(../img/menu_img2.png);
}
.page_body .page_main .tab_menu > ul > li:nth-of-type(3) .back_img {
  background-image: url(../img/menu_img3.jpeg);
}
.page_body .page_main .tab_menu > ul > li:nth-of-type(4) .back_img {
  background-image: url(../img/menu_img4.jpeg);
}
.page_body .page_main .tab_menu > ul > li:nth-of-type(5) .back_img {
  background-image: url(../img/menu_img5.jpeg);
}
.page_body .page_main .tab_menu > ul > li:nth-of-type(6) .back_img {
  background-image: url(../img/menu_img6.jpeg);
}
.page_body .page_main .tab_menu .menu_img {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 240px;
  overflow: hidden;
}
.page_body .page_main .tab_menu .menu_img .back_img {
  position: absolute;
  display: block;
  transition: ease-in-out 0.4s;
  z-index: 0;
  top: 0;
  left: 0;
  width: 350px;
  height: 240px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  filter: brightness(40%);
}
.page_body .page_main .tab_menu .menu_img .menu_img_icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.page_body .page_main .tab_menu .menu_img .menu_img_icon span {
  display: flex;
  margin-top: 20px;
}
.page_body .page_main .tab_menu .menu_img .menu_img_icon span:first-of-type {
  margin-left: 20px;
  width: 50px;
  height: 50px;
}
.page_body .page_main .tab_menu .menu_img .menu_img_icon span:last-of-type {
  display: flex;
  align-items: center;
  margin-right: 20px;
  text-align: center;
  font-size: 15px;
  line-height: 10px;
  color: #fefefe;
  border: solid 1.5px #fefefe;
  border-radius: 1px;
  padding: 10px 15px;
}
.page_body .page_main .tab_menu .menu_img .menu_img_icon span img {
  width: 100%;
  height: 100%;
}
.page_body .page_main .tab_menu .menu_text {
  width: 100%;
  margin-top: 30px;
}
.page_body .page_main .tab_menu .menu_text a, .page_body .page_main .tab_menu .menu_text p, .page_body .page_main .tab_menu .menu_text span {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.page_body .page_main .tab_menu .menu_text a {
  font-size: 21px;
  font-weight: 500;
  color: #000;
  line-height: 28px;
  margin-bottom: 10px;
}
.page_body .page_main .tab_menu .menu_text p {
  font-size: 15px;
  height: 50px;
}
.page_body .page_main .tab_menu .menu_text span {
  font-size: 13px;
  color: #666;
}
.page_body .page_main .more_btn {
  position: absolute;
  bottom: 80px;
  right: 50%;
  transform: translateX(50%);
}
.page_body .page_main .more_btn button {
  color: #666;
  border: solid 1px #c8c8c8;
  border-radius: 1px;
  background-color: #fff;
  width: 250px;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 400;
}/*# sourceMappingURL=style.css.map */