@charset "utf-8";


html{
  font-size: 6.25%;
}
.container{
  width: 100%;
  margin: 0 auto;
}



// flex css 지정 (quick_menu 에서만 사용함)
.flex_cen_cen{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex_column{
  display: flex;
  flex-direction: column;
}
.flex_col_cen_cen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


// quick_menu
.quick_menu{
  position: fixed;
  width: 80px;
  padding: 5px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 1;
  z-index: 20;
  ul{
    width: 100%;
    box-sizing: border-box;
    li{
      width: 100%;
      background-color: #222;
      &:last-of-type{
        a{
          font-size: 13px;
          height: 80px;
        }
      }
      span{
        width: 100%;
        text-align: center;
        color: rgba(255,255,255,0.8);
        font-size: 13px;
      }
    }
    .quick_icon{
      width: 100%;
      height: 150px;
      background-color: #4d750d;
      line-height: 19px;
      span{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 5px 0;
        &:first-of-type{
          width: 42px;
        }
      }
    }
    &:last-of-type{
      width: 100%;
      height: 80px;
      border: solid 1px rgba(107, 107, 107, 0.4);
      background-color: #fffdfd;
    }
  }
}


// backgrond
.backgrond{
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 70vh;
  img{
    width: 100%;
    height: 100%;
  }
}

// page_title
.page_title{
  width: 100vw;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
  h2{
    font-size: 55rem;
    color: #fff;
    font-weight: 500;
  }
}


// page_body
.page_body{
  background-color: #fff;

  .page_main{
    padding-bottom: 50px;
  }
  .container{
    max-width: 1140px;
  }
  .location_menu{
    display: block;
    width: 100%;
    border-bottom: solid 1px #dedede;
    .container{
      position: relative;
      width: 100%;
      height: 60px;
    }
    .container>ul{
      position: absolute;
      top: 0%;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: flex-start;
      
      &>li{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 8px 20px;
        font-size: 15px;
      }
      .home_icon{
        position: absolute;
        flex-direction: row;
        padding: 0 15px;
        left: -60px;
        height: 60px;
        border-left: solid 1px #dedede;
        border-right: none;
      }
      
      .location_sub_menu:first-of-type{
        a{
          p{
            border-left: none;
          }
        }
      }

      .location_sub_menu.active{
        box-shadow: 0px 0px 6px rgb(0 0 0 / 24%);
        border: solid 1px #000;
        ul{
          visibility: visible;
          height: 100%;
          transform: scaleY(1);
          display: flex;
        }
      }
      
      .location_sub_menu{
        transition: all ease-out 0.4s;
        display: flex;
        justify-content: center;
        top: 0%;
        box-sizing: border-box;
        padding: 0;
        &:hover{
          &>a p{color:#444;}
          a p::after{opacity: 1;}
        }
        ul{
          visibility: hidden;
          transition: all ease-out 0.4s;
          padding: 20px;
          height: 0vh;
          transform: scaleY(0);
          transform-origin: 0px 0px;
          background-color: #fff;
          width: 99.7%;
          flex-direction: column;
          top: 100%;
          box-sizing: border-box;
          .color{color: #000;}
        }
        
        a{
          display: flex;
          align-items: center;
          color: #999;
          padding: 10px 0;
          width: 100%;
          box-sizing: border-box;
        }
        //== a 태그 after 가상요소 ==
        &>a{
          width: 100%;
          height: 60px;
          display: flex; 
          justify-content: space-between;
          align-items: center;
          transition: color ease 0.5s;
          p{
            display: flex;
            padding: 0 20px;
            border-right : solid 0.5px #dedede;
            border-left: solid 0.5px #dedede;
            align-items: center;
            justify-content: space-between;
            width: 100%;
          }
          p::after{
            margin-left: 50px;
            top: 0;
            right: 0;
            content: "";
            display: flex;
            width: 14px;
            height: 9px;
            background-image: url(../img/btn_location_arrow.png);
            background-repeat: no-repeat;
            background-size: cover;
            opacity: 0.3;
            transition: opacity ease 0.5s;
          }
        }
        &:first-of-type a::after{
          display: none;
        }
        //== a 태그 after 가상요소 end ==
      }
      //border 겹침 지우기
      .submenu_2 a p{
        border-left: none;
      }
    }
  }
  .page_main{
    position: relative;
    .tab_btn{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 160px;
      font-size: 30px;
      border-bottom: solid 2px #000;
      li{
        margin: 0 20px;
        padding: 5px 0;
        cursor: pointer;
      }
    }
    .tab_input{
      display: flex;
      justify-content: center;
      align-items: center;
      border-bottom: solid 1px #888;
      height: 100px;
      div{
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: solid 1px #000;
        padding: 10px 20px;
        width: 600px;
        input{
          border: none;
          width: 600px;
          color: #666;
          font-size: 17px;
        }
        input:focus {outline:none;}
        button{
          padding-top: 5px;
          background-color: rgba(0,0,0,0);
        }
      }
    }
    .tab_menu{

      padding-bottom: 150px;
      .more_click{
        display: none;
        &.active{
          display: flex;
        }
      }
      &>ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
      
        &>li{
          width: 350px;
          margin-top: 70px;

          &:hover .back_img{
            transition: ease-in-out 0.4s;
            transform: scale(1.2,1.2);
          }

          &:first-of-type .back_img{background-image: url(../img/menu_img1.jpeg);}
          &:nth-of-type(2) .back_img{background-image: url(../img/menu_img2.png);}
          &:nth-of-type(3) .back_img{background-image: url(../img/menu_img3.jpeg);}
          &:nth-of-type(4) .back_img{background-image: url(../img/menu_img4.jpeg);}
          &:nth-of-type(5) .back_img{background-image: url(../img/menu_img5.jpeg);}
          &:nth-of-type(6) .back_img{background-image: url(../img/menu_img6.jpeg);}
        }
      }

      .menu_img{
        position: relative;
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 240px;
        overflow: hidden;
        .back_img{
          position: absolute;
          display: block;
          transition: ease-in-out 0.4s;
          z-index: 0;
          top: 0;
          left: 0;
          width: 350px;
          height: 240px;
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          filter: brightness(40%);
        }
        .menu_img_icon{
          position: absolute;
          top: 0;
          left: 0;
          z-index: 2;
          display: flex;
          width: 100%;
          justify-content: space-between;
          align-items: center;

        
          span{
            display: flex;
            margin-top: 20px;
            &:first-of-type{
              margin-left: 20px;
              width: 50px;
              height: 50px;
            }
            &:last-of-type{
              display: flex;
              align-items: center;
              margin-right: 20px;
              text-align: center;
              font-size: 15px;
              line-height: 10px;
              color: #fefefe;
              border: solid 1.5px #fefefe;
              border-radius: 1px;
              padding: 10px 15px;
            }
            img{width: 100%; height: 100%;}
          }
        }
      }
      .menu_text{
        width: 100%;
        margin-top: 30px;
        a,p,span{
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          word-wrap: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          // display: block; 하면 안먹힘 
        }
        a{
          font-size: 21px;
          font-weight: 500;
          color: #000;
          line-height: 28px;
          margin-bottom: 10px;
        }
        p{
          font-size: 15px;
          height: 50px;
        }
        span{font-size: 13px; color: #666;}
      }

    }
    .more_btn{
      position: absolute;
      bottom: 80px;
      right: 50%;
      transform: translateX(50%);
      button{
        color: #666;
        border: solid 1px #c8c8c8;
        border-radius: 1px;
        background-color: #fff;
        width: 250px;
        padding: 10px 0px;
        font-size: 16px;
        font-weight: 400;
      }
    }
  }
}





